*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

body {
    background-color: #f6e9e4;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #000000;
}

.logo{
    display: flex;
    justify-content: center;
}

.links a{
    padding: 0 15px;
    font-size: large;
    color: #f6e9e4;
}

/********************************************************************************/

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    margin: 0 auto;
}

.col-1{
    padding-right: 3em;
}

.col-2{
    padding-left: 3em;
}